
<div class="container body-content"  style="color:white" onload="myFunction()">
    <div class="row">
        <div class="col-md-12">
                <header>
                    <h1>{{this.user.fullName}}`s profile</h1>
                </header>
                </br></br>
                <h3><i>Username:</i></h3>
                <p style="font-size: 25px">{{this.user.fullName}}</p>
        </br>
                <h3><i>Email:</i></h3>
            <p style="font-size: 25px">{{this.user.email}}</p></br>
            <h3><i>Registered at:</i></h3>
            <p style="font-size: 18px">{{this.user.createdAt}}</p>
                <footer>
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>
                </footer>
        </div>
    </div>
</div>